{% comment %}
  GO Transit Dashboard - Half Horizontal Layout PREVIEW
  Static preview template with sample data (no API dependency)
  
  Sample Data: Lakeshore East Line - Oshawa GO Station
{% endcomment %}

<div class="layout layout--row layout--left layout--stretch mb--0 p--3">
  
  <!-- Direction 1: To Union Station -->
  <div class="flex--1">
    <div class="mb--1">
      <span class="title title--small" style="display: block;">Union Station</span>
      <span class="description">To Union Station</span>
    </div>
    <div class="flex flex--col flex--left gap--small">
      
      <!-- Arriving -->
      <div class="item item--emphasis-3">
        <div class="meta"></div>
        <div class="content">
          <span class="label label--small label--inverted mb--1">arriving</span>
          <span>
            <span class="value">9:34</span>
            <span class="value value--small">PM</span>
          </span>
        </div>
      </div>
      
      <!-- Next -->
      <div class="item item--emphasis-2">
        <div class="meta"></div>
        <div class="content text--gray-35">
          <span class="label label--small label--outline mb--1">next</span>
          <span>
            <span class="value">9:44</span>
            <span class="value value--small">PM</span>
          </span>
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- Direction 2: To Oshawa -->
  <div class="flex--1">
    <div class="mb--1">
      <span class="title title--small" style="display: block;">Oshawa</span>
      <span class="description">To Oshawa</span>
    </div>
    <div class="flex flex--col flex--left gap--small">
      
      <!-- Arriving -->
      <div class="item item--emphasis-3">
        <div class="meta"></div>
        <div class="content">
          <span class="label label--small label--inverted mb--1">arriving</span>
          <span>
            <span class="value">9:42</span>
            <span class="value value--small">PM</span>
          </span>
        </div>
      </div>
      
      <!-- Next -->
      <div class="item item--emphasis-2">
        <div class="meta"></div>
        <div class="content text--gray-35">
          <span class="label label--small label--outline mb--1">next</span>
          <span>
            <span class="value">10:12</span>
            <span class="value value--small">PM</span>
          </span>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

<div class="title_bar m--0">
  <span class="title">Oshawa GO</span>
</div>
