{% comment %}
  GO Transit Dashboard - Quadrant Layout PREVIEW
  Static preview template with sample data (no API dependency)
  
  Sample Data: Lakeshore East Line - Oshawa GO Station
{% endcomment %}

<div class="layout layout--row p--2 gap--xxlarge mb--0" style="position:relative">
  <div class="flex flex--col flex--stretch-x flex--top gap--none stretch" style="position:relative">
    
    <!-- Two-direction time table -->
    <div class="columns time-table">
      
      <!-- Direction 1: To Union Station -->
      <div class="column gap--medium" data-overflow="true">
        <div>
          <span class="title title--small" style="display:block">Union Station</span>
        </div>
        
        <!-- Arriving -->
        <div class="item item--emphasis-3">
          <div class="meta"></div>
          <div class="content text--black">
            <span class="label label--small label--inverted mb--1">arriving</span>
            <span>
              <span class="value value--medium">9:34</span>
              <span class="value value--xsmall">PM</span>
            </span>
          </div>
        </div>
        
        <!-- Next -->
        <div class="item item--emphasis-2">
          <div class="meta"></div>
          <div class="content text--gray-35">
            <span class="label label--small label--outline mb--1">next</span>
            <span>
              <span class="value value--medium">9:44</span>
              <span class="value value--xsmall">PM</span>
            </span>
          </div>
        </div>
      </div>
      
      <!-- Direction 2: To Oshawa -->
      <div class="column gap--medium" data-overflow="true">
        <div>
          <span class="title title--small" style="display:block">Oshawa</span>
        </div>
        
        <!-- Arriving -->
        <div class="item item--emphasis-3">
          <div class="meta"></div>
          <div class="content text--black">
            <span class="label label--small label--inverted mb--1">arriving</span>
            <span>
              <span class="value value--medium">9:42</span>
              <span class="value value--xsmall">PM</span>
            </span>
          </div>
        </div>
        
        <!-- Next -->
        <div class="item item--emphasis-2">
          <div class="meta"></div>
          <div class="content text--gray-35">
            <span class="label label--small label--outline mb--1">next</span>
            <span>
              <span class="value value--medium">10:12</span>
              <span class="value value--xsmall">PM</span>
            </span>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
</div>

<div class="title_bar m--0">
  <span class="title">Oshawa GO</span>
</div>
